.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #000;
    width: 100%;
    top: 0;
    height: 70px;
    border-bottom: 1px solid #ffffff;
    z-index: 1;
}
.header__logo{
    display: none;
}
.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__item{
    list-style-type: none;
}
.nav__link{
    padding: 0px 5px;
    text-decoration: none;
    color: #ffffff;
}
.header__icons{
    display: none;
}
.header-items{
    display: none;
}
.nav__link:hover{
    text-decoration: underline;
     color: #d3ad7f;
}

.displaynone{
    display: none;
}
.displayflex{
    display: flex;
}

.header__form{
    position: absolute;
    top: 75px;
    right: 70px;
    color: #d3ad7f;
    border-radius: 5px;
    outline: none;
    background-color: #cccccc5e;
    border: 1px solid #d3ad7f;
    padding: 5px 10px;
}
.header__form::placeholder{
    color: #d3ad7f;
}
.header-items{
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    color: #ffffff;
    right: 0;
}
.card__price{
    color: #d3ad7f;
}
.card-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    background-color: #cccccc31;
    border: 1px solid #d3ad7f;
    padding: 0px 5px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__title{
    font-size: 1rem;
}
.card__img{
    width: 50px;
    height: 50px;
}
.header-items__btn{
    background-color: #d3ad7fab;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0px;
    border-radius: 2px;
}
