@media screen and (min-width: 600px) {
    .header{
        justify-content: space-around;
    }
    .header__logo{
        display: flex;
        color: #d3ad7f;
    }
    a img:nth-child(1){
        width: 50px;
    }
}
@media screen and (min-width: 768px) {
    .inicio{
        width: 100%;
        height: 500px;
    }
    .header__icons{
        display: flex;
        color: #ffffff;
    }
    .header__icon{
        padding: 0px 5px;
        font-size: 1.1rem;
    }
    .header__icon:hover{
        color: #d3ad7f;
    }
    /* BLOGS */
    .blogs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blogs-card{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 480px;
        margin: 20px 10px;
        border: 1px solid #d3ad7f;
    }
    .blogs-card__content{
        display: flex;
        flex-direction: column;
    } 
    .blogs-card__title{
        display: flex;
        justify-content: center;
    }
    .blogs-card__user{
        display: flex;
        color: #d3ad7f;
    }
    .blogs-card__text{
        padding: 0px 0px 10px;
    }
}
@media screen and (min-width:1024px) {
    /* NOSOTROS */
    .nosotros{
        display: flex;
        width: 100%;
    }
    .nosotros__img{
        display: flex;
        margin: 20px 0px;
        width: 100%;
    }
    .nosotros__container-img{
        width: 50%;
    }
    .nosotros__contenido{
        margin: 20px;
        width: 50%;
    }
    /* CLIENTES */
    .cliente-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cliente-card__img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 100px;
        width: 60px;
    }
    .cliente-card__name{
        display: flex;
        font-size: 1rem;
    }
    .cliente-card__stars{
        display: flex;
        color: #d3ad7f;
    }
    /* INICIO */
    .inicio__text{
        display: flex;
        text-align: left;
        font-size: 1.5rem;
        padding: 0px 20px;
    }
}
@media screen and (min-width:1200px) {
    .container{
        grid-template-columns: 15% 85%;
        grid-template-areas: 
                            "header inicio"
                            "container__blogs container__blogs"
                            "container__nosotros container__nosotros"
                            "container__clientes container__clientes"
                            "container__menus container__menus"
                            "footer footer";
    }
    .header{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: left;
        position: static;
        background-color: #000;
        width: 100%;
        margin: 100px 0px;
        border: none;
    }
    .header__logo, .header__icons{
        display: none;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
    }
    .nav__link{
       display: flex;
       justify-content: flex-start;
       align-items: left;
       padding: 5px 0px;
       transition: all 0.3s ease;
    }
    .nav__link:hover{
        transform: translateX(10px);
        color: #d3ad7f;
        text-decoration: none;
    }
    .inicio{
        border-left: 1px solid #d3ad7f;
    }
    .inicio__container-text{
        margin: 0px 0px 0px 20px;
    }
}