@media screen and (min-width: 600px) {
    .header{
        justify-content: space-around;
    }
    .header__logo{
        display: flex;
        padding: 0px 10px;
    }

    /* NUESTRO MENU */
    .container__menus{
        display: block;
    }
    .menus{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .menu-card{
        border: 1px solid #d3ad7f;
        margin: 10px 10px;
        width: 340px;
        height: 250px;
        padding: 30px 0px;
        color: #ffffff;
    }
    .menu-card__btn{
        background-color: #d3ad7f;
        border: 1px solid #d3ad7f;
        color: #ffffff;
        padding: 5px 20px;
        text-decoration: none;
        border-radius: 5px;
        margin: 30px 0px 0px;
    }
    .menu-card__price{
        padding: 0px 0px 15px;
    }
    .menu-card__line{
        font-size: 0.8rem;
    }
    .menu-card__btn:hover{
        background-color: #d3ad7f81;
        border: 1px solid #d3ad7f81;
    }

}

@media screen and (min-width: 768px) {
    .inicio__container-text{
        height: 350px;
    }
    .header{
        justify-content: space-around;
    }
    .header__icons{
        display: flex;
    }
    .blogs-card{
        flex-direction: column;
        height: 500px;
        width: 450px;
    }
    .blogs-card__content{
        margin: 0px 0px 30px;
    }
    .blogs-card__img{
        width: 450px;
        height: 265px;
    }
    .blogs-card__title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
    }
    .blogs-card__user{
        display: block;
        padding: 0px 20px;
        color: #d3ad7f;
    }
    .blogs-card__btn{
        margin: 0px 20px 20px;
    }
    .blogs-card__btn{
        padding: 5px 30px;
    }

}

@media screen and (min-width: 1024px) {
    .inicio__btn{
        margin: 0px 30px;
    }
    .inicio__text{
        display: flex;
        padding: 10px 30px;
    }
    /* BLOGS */
    .blogs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .blogs-card{
        margin: 10px 10px;
    }

    /* NOSOTROS */
    .nosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .nosotros__container-img , .nosotros__contenido{
        width: 45%;
    }
    .nosotros__img{
        display: flex;
        padding: 0px 20px;
    }

    /* CLIENTES */
    .cliente{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .cliente-card{
        height: 350px;
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 10px;
    }
    .cliente-card__img{
        display: flex;
        border-radius: 100px;
        width: 60px;
    }
    .cliente-card__stars{
        display: flex;
        margin: 20px 0px 0px;
    }
    .fas{
        color: #d3ad7f;
    }

    /* NUESTRO MENU */
    .menu-card{
        width: 300px;
        margin: 0px 10px 20px;
    }
}

@media screen and (min-width: 1200px) {
    
    
}